@model User

@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.FirstName!</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Wedding</th>
            <th scope="col">Date</th>
            <th scope="col">Guest</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wedding in ViewBag.weddings)
        {
            <tr>
                <td><a href="/weddings/@wedding.WeddingId">@wedding.WedderOne & @wedding.WedderTwo</a></td>
                <td>@wedding.Date.ToString("MMM d yyyy")</td>
                <td>@wedding.AllRSVPs.Count</td>
                @if(Model.UserId == @wedding.HostUserId)
                {
                    <td>
                        <form asp-controller="Home" asp-action="Delete" method="POST" asp-route-weddingId="@wedding.WeddingId">
                            <button class="btn btn-link">Delete</button>
                        </form>
                    </td>
                } else {
                    var RSVPd = false;
                    foreach (var rsvp in @wedding.AllRSVPs)
                    {
                        if (rsvp.UserId == @Model.UserId)
                        {
                            RSVPd = true;
                            <td><form asp-controller="Home" asp-action="UnRSVP" method="POST" asp-route-weddingId="@wedding.WeddingId">
                                <button class="btn btn-link">Un-RSVP</button>
                            </form></td>
                        }
                    }
                    if (RSVPd == false)
                    {
                        <td><form asp-controller="Home" asp-action="AddRSVP" method="POST" asp-route-weddingId="@wedding.WeddingId">
                            <button class="btn btn-link">RSVP</button>
                        </form></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

<a href="/new" class="btn btn-secondary" role="button">+ New Wedding</a>