@model Wedding
@{
    int? userId = Context.Session.GetInt32("UserId");
}

@{
    ViewData["Title"] = "Details";
}
<div class="row text-center">
    <h1 class="display-4">@Model.WedderOne and @Model.WedderTwo's Wedding</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Date: @Model.Date.ToString("MMMM d yyyy")</h4>
        </div>
        <div>
            <h4>Guests:</h4>
            <ul style="list-style-type:none">
                @if (@Model.AllRSVPs.Count == 0)
                {
                    <li>No guests to show... yet!</li>
                } else {
                    @foreach (var rsvp in @Model.AllRSVPs)
                    {
                        <li>@rsvp.User.FirstName @rsvp.User.LastName</li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Location: @Model.Address</h4>
        <h4>~~~ Google Maps goes here ~~~</h4>
    </div>
</div>
<div class="row">
    @if (@Model.HostUser.UserId == userId)
        {
            <a asp-controller="Home" asp-action="EditWedding" asp-route-weddingId="@Model.WeddingId" class="btn btn-warning">Edit</a>
        }
</div>